@media screen and (max-width:360px){
    img{
        max-width: 350px;
        display: block;
        margin: auto;
    }
}
/* @media screen and (min-width: 320px){
    .cabecalho h1{
        width: 250px;
        height: 200px;
        font-size: 0%;
    }
    } */